* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

$linear: linear-gradient(238.66deg, #0283e9 -18.13%, #fc01ca 120.27%);
$linear-hover: linear-gradient(238.66deg, #fc01ca -18.13%, #0283e9 120.27%);
$white: #ffffff;
$black: #000000;
$purple: #7158e2;
$gray: #828089;
$primary: #2b2b2b;
$bg-gray: #f4f4f4;

body {
  color: $primary;
}
section {
  padding: 70px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1 {
  font-size: 44px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 15px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p {
  color: $gray;
}

.button {
  position: relative;
  padding: 10px;
  display: inline-block;
  height: 44px;
  background: $linear;
  border: 1px solid transparent;
  border-radius: 5px;
  color: $white;
  z-index: 999999;
  &:hover {
    .button-hover {
      opacity: 1;
    }
  }
}

.button-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  color: $white;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
  background: $linear-hover;
}

.title {
  margin-bottom: 30px;
  text-align: center;
}

.text-linear {
  background: $linear;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product {
  background-color: $white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 24px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  .img {
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
    img {
      height: 120px;
      width: 100%;
      border-radius: 10px;
      transition: 0.3s ease-in-out;
    }
    .content {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s ease-in-out;
      a + a {
        margin-left: 10px;
      }
      .preview {
        background: transparent;
        border: 1px solid $white;
        &:hover {
          border: 1px solid transparent;
        }
      }
      .button {
        color: $white;
      }
    }
  }
  .name {
    color: $primary;
    h3 {
      font-size: 18px;
    }
  }
  .price {
    display: flex;
    align-items: center;
    span {
      font-size: 30px;
      font-weight: 700;
    }
    p {
      margin-left: auto;
      margin-bottom: 0;
    }
  }
  &:hover {
    .img {
      .content {
        opacity: 1;
        visibility: visible;
      }
      img {
        filter: brightness(0.5);
      }
    }
    .name {
      text-decoration: underline;
    }
  }
}

.view {
  text-align: center;
  margin-top: 30px;
  a {
    color: $white;
  }
}

.swiper {
  .swiper-wrapper {
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
  .swiper-pagination {
    position: static;
    margin-top: 30px;
    .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      background: $primary;
      opacity: 1;
      margin: 10px;
      outline: 3px solid $primary;
      border: 4px solid white;
    }
    .swiper-pagination-bullet-active {
      background: $linear;
      outline: 3px solid $purple;
    }
  }
}

header {
  position: absolute;
  width: 100%;
  top: 30px;
  z-index: 999999999;
  .content {
    background-color: $white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 0;
    .logo {
      padding-left: 30px;
      .left {
        color: $white;
        background: $linear;
        border-radius: 50%;
        padding: 15px 12px;
      }
      .right {
        color: $primary;
        font-size: 20px;
      }
    }
    .categories {
      margin-left: 30px;
      .drop {
        position: relative;
        .main {
          transition: 0.3s ease-in-out;
          display: inline-block;
          img {
            padding-right: 16px;
          }
          i {
            padding-left: 60px;
          }
        }
        .dropdown {
          position: absolute;
          top: 150%;
          opacity: 0;
          visibility: hidden;
          left: 0;
          width: 220px;
          background-color: $white;
          transition: 0.3s ease-in-out;
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
          z-index: 99999;
          li {
            a {
              color: $primary;
              padding: 10px 20px;
              display: block;
              font-weight: 700;
              transition: 0.3s ease-in-out;
              &:hover {
                color: $purple;
              }
            }
          }
        }
      }
      &:hover {
        .main {
          color: $white;
        }
        .dropdown {
          top: 120%;
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .right {
      margin-left: auto;
      margin-right: 20px;
      a {
        height: 44px;
        transition: 0.3s ease-in-out;
        .counter {
          position: absolute;
          background: $linear;
          border-radius: 50%;
          padding: 1px 4px;
          border: 2px solid $white;
          font-size: 10px;
          top: 3px;
          right: 3px;
        }
        &:hover {
          color: $white;
        }
      }
      a + a {
        margin-left: 16px;
      }
      .signIn {
        img {
          margin-right: 10px;
        }
      }
    }
  }
}

#hero {
  padding: 250px 0 150px 0;
  position: relative;
  overflow: hidden;
  .background {
    position: absolute;
    top: -110px;
    right: -140px;
    z-index: -1;
    .one {
      position: absolute;
      left: -8%;
      top: 38%;
      z-index: 11;
    }
    .two {
      position: absolute;
      left: 0;
      top: 58%;
      z-index: 11;
    }
    .three {
      position: absolute;
      left: 28%;
      top: 76%;
      z-index: 11;
    }
    .four {
      position: absolute;
      left: 49%;
      top: 60%;
      z-index: 11;
    }
    .five {
      position: absolute;
      left: 26%;
      top: 34%;
      z-index: 11;
    }
  }
  .left {
    form {
      display: flex;
      border-radius: 5px;
      padding: 5px;
      background-color: $white;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
      input {
        border: none;
        outline: none;
        padding: 10px;
        display: block;
        width: 100%;
      }
      button {
        margin-left: auto;
        display: flex;
        align-items: center;
        i {
          margin-right: 16px;
        }
      }
    }
  }
  .right {
    position: relative;
    .one {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

#choose {
  .box {
    cursor: pointer;
    background-color: $white;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    margin-bottom: 24px;
    .img {
      width: 100px;
      height: 100px;
      background: $linear;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      .img-main {
        transition: 0.3s ease-in-out;
        opacity: 1;
        visibility: visible;
        height: 50px;
        width: auto;
      }
      .img-hover {
        opacity: 0;
        visibility: hidden;
        width: 0;
        height: 0;
        transition: 0.3s ease-in-out;
      }
    }
    h3 {
      margin-bottom: 20px;
    }
    p {
      transition: 0.3s ease-in-out;
    }
    &:hover {
      background: $linear;
      color: $white;
      .img {
        background: $white;
      }
      .img-main {
        opacity: 0;
        visibility: hidden;
        width: 0;
        height: 0;
        transition: 0.3s ease-in-out;
      }
      .img-hover {
        opacity: 1;
        visibility: visible;
        width: auto;
        height: 50px;
        transition: 0.3s ease-in-out;
      }
      p {
        color: $white;
      }
      // .img{
      //   background: $linear;
      //   -webkit-background-clip: text;
      //   -webkit-text-fill-color: transparent;
      // }
    }
  }
}

#featured {
  background-color: $bg-gray;
  .product {
    .img {
      img {
        height: auto;
      }
    }
  }
}

#products {
  .categories {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      li {
        height: 44px;
        display: flex;
        align-items: center;
        a {
          color: $primary;
          transition: 0.3 ease-in-out;
        }
        .button {
          color: $white;
        }
      }
      li + li {
        margin-left: 30px;
      }
    }
  }
}

#testimonial {
  .swiper {
    text-align: center;
    img {
      margin-bottom: 20px;
    }
    .description {
      margin-bottom: 20px;
    }
    h3 {
      margin-bottom: 10px;
    }
  }
}

#blog {
  .swiper {
    padding: 20px;
    .box {
      border-radius: 10px;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
      padding: 10px;
      img {
        border-radius: 10px;
        height: 210px;
        width: 100%;
      }
      .time {
        display: flex;
        align-items: center;
        margin: 10px 0;
        p {
          margin-bottom: 0;
        }
        .author {
          margin-left: auto;
        }
      }
      h4 {
        margin: 20px 0;
      }
    }
  }
}

footer {
  background: $primary;
  .footer-top {
    background: rgba(255, 255, 255, 0.12);
    padding: 20px 0 30px;
    margin-bottom: 70px;
    span {
      color: $white;
      font-size: 20px;
    }
    form {
      margin-left: 20px;
      display: flex;
      border-radius: 5px;
      padding: 5px;
      background-color: $white;
      input {
        border: none;
        outline: none;
        padding: 10px;
        display: block;
        width: 100%;
      }
      button {
        margin-left: auto;
        display: flex;
        align-items: center;
      }
    }
  }
  .footer-bottom {
    text-align: center;
    li {
      margin-left: 60px;
      a {
        color: $white;
        transition: 0.3s ease-in-out;
        &:hover {
          color: $purple;
        }
      }
    }
    span {
      color: $white;
      display: inline-block;
      margin-top: 70px;
    }
  }
}

@media (max-width: 992px) {
  .product {
    .img {
      img {
        height: 160px;
      }
    }
  }
  header {
    .content {
      .categories {
        .drop {
          .main {
            i,
            img {
              padding: 0;
            }
          }
        }
      }
      .right {
        .signIn {
          .text {
            display: none;
          }
          img {
            margin: 0;
          }
        }
      }
    }
  }
  section {
    padding: 30px 0;
  }
  footer {
    .footer-bottom {
      li {
        margin-left: 30px;
      }
    }
  }
}

@media (max-width: 768px) {
  .product {
    .img {
      img {
        height: auto;
      }
    }
  }
}

@media(max-width: 600px) {
  header {
    .content {
      .logo {
        .right {
          display: none;
        }
      }
      .categories {
        margin-left: 5px;
        .drop {
          .main {
            .text {
              display: none;
            }
            i {
              display: none;
            }
          }
        }
      }
      .right{
        a+a{
          margin-left: 0;
        }
      }
    }
  }
}